@use "~@/assets/scss/import/media.scss" as *;

// 방 랜더 디자인
.room-info {
  display: grid;
  gap: 0.5rem;

  width: 100%;
  height: 100%;
  align-content: center;

  grid-template:
    "makre name name" 2rem
    "makre super super" 2rem
    "makre joinBtn joinBtn" 3rem
    / minmax(auto, 12rem) minmax(6rem, 1fr) minmax(6rem, 1fr);

  @include mobile() {
    grid-template:
      "makre name" 2.5rem
      "makre super" 2.5rem
      "makre joinBtn" 3rem
      / 12rem 2fr;
  }

  .room-marke {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    grid-area: makre;

    div {
      width: 95%;
      height: 95%;
      margin: auto;
      border: 1px solid black;
      border-radius: 100%;
      overflow: hidden;
    }
  }

  .room-name {
    grid-area: name;
  }

  .room-super-user {
    grid-area: super;
  }
  button {
    grid-area: joinBtn;
  }
}
