// transition
.ani-fade-enter-active,
.ani-fade-leave-active {
  transition: opacity 0.2s;
}

.ani-fade-enter-from,
.ani-fade-leave-to {
  opacity: 0;
}

.acodi-enter-active,
.acodi-leave-active {
  transition: max-height 0.2s;
}

.acodi-enter-from,
.acodi-leave-to {
  max-height: 0rem;
}

.acodi-enter-to,
.acodi-leave-from {
  max-height: 12rem;
}
