$color-blue-0: #9cc3d5;
$color-blue-1: #8bbee8;
$color-blue-2: #0063b2;
$color-blue-3: rgb(64, 64, 223);
$color-blue-4: #333d79;

$color-black-0: #2d2926;
$color-black-1: #101820;

:root {
  --mobile--full: 100vh;
}
